{% extends "layout.html" %}

{% block content %}
<style type="text/css" media="screen">
 table { border: 1px solid black;float:left;width:250px;}
 #table_container{width:300px;margin:0 auto;}
</style>

<h1>Search</h1>
        <p>For example, you can type 'clubs' or the name of a club like 'Archery Club'</p>
        <form method="post" action="/search">
    <label for="postername">Search:</label>
    <input type="text" id="search" name="search" size="40" />
    <input type="submit" value="go" name="submit" />
  </form>
  {% if queryType=='clubs' %}
        <table>
            <tr><th>CLUB</th></tr>
            
            {% for entry in results %}
                <tr><td>{{entry['postername']}}</td></tr>
            {% endfor %}
        </table>

    <table>
  <tr><th>ACTIVITY</th><th>RANK</th></tr>
    {% for post in results %}
      <tr><td>{{post['activity']}}</td>
      <td>{{post['rank']}}</td></tr>
    {% endfor %}
        </table>
      
        
        
  {% endif %}

{% if queryType == 'names' %}
    <table>
        <tr><th>CLUB</th></tr>
            
         {% for entry in results %}
                <tr><td>{{entry['postername']}}</td></tr>
         {% endfor %}
    </table>

    <table>
        <tr><th>ACTIVITY</th><th>RANK</th></tr>
        {% for post in results %}
            <tr><td>{{post['activity']}}</td>
            <td>{{post['rank']}}</td></tr>
        {% endfor %}
    </table>   
        
{% endif %}
{% endblock %}